
<div class="center">
    <div *ngIf="activeAccount" class="account-wrapper">
        <div class="title-section">
            <span>{{activeAccount.title}}</span>
        </div>
        <div class="balance-section">
            <span>{{activeAccount.balance}}</span>$
        </div>
        <div class="buttons-section">
            <a class="big-btn btn-minus" [routerLink]=" ['PaymentEdit', {paymentID: void}] ">
                -
            </a>
            <a class="big-btn btn-plus" [routerLink]=" ['PaymentEdit', {paymentID: void}] ">
                +
            </a>
        </div>
    </div>

</div>